@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    padding:0;
    margin:0;
}

*{cursor:url(../img/mouse.png),auto;}





    /*  HOME  */


#ALL{
  overflow: hidden;
  width: 1920px;
  height: 975px;
  background-color:#131000;
  position:fixed;

}

.top{
    width:1920px;
    height: 65px;
    position:fixed;
    z-index: 9999;
}

.logo{
    opacity: 100%;
    position: absolute;
    left:74px;
    top:21px;
    z-index: 9999;
}

.category{
    position: absolute;
    background: none;
}

.gnb{
    text-align: center;
    list-style:none;
    position:fixed;
    top:27px; left:1013px;
}

.gnb>li{

    display: inline-block;
    margin:0px 90px;
}

    .gnb>li>a{
      font-size: 13pt; 
      font-family: 'Noto Sans', sans-serif;
      letter-spacing: 0.5px;
      color:white;
      z-index: 9999;

    }
    
    .gnb>li>a::before {  
        transform: scaleX(0);
        transform-origin: bottom right;
      }
      
      .gnb>li>a:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
        
      }
      
      .gnb>li>a::before {
          color:black;
        content: " ";
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        inset: 0 0 0 0;
        background: #eccc21;
        z-index: -1;
        transition: transform .3s ease;
      }
      
    .gnb>li>a {
        position: relative;
      }
      
      .gnb>li>a {
        min-block-size: 100%;
        min-inline-size: 100%;
        margin: 0;
        box-sizing: border-box;
        display: grid;
        place-content: center;
        font-family: system-ui, sans-serif;
      }
      
      @media (orientation: landscape) {
        .gnb>li>a {
          grid-auto-flow: column;
        }
      }

.menu{
        position:absolute;
        top:29px;
        left: 1825px;
        z-index: 999;
      }    
      
.home_line{
  position:absolute;
  top:73px;
  left: 74px;
  z-index: 999;
} 





 /*    PORTFOLIO 1    */


 .left{
  position:absolute;
  background:url("../img/mb_left.jpg") no-repeat;
  width: 758px;
  height: 965px;
}
.mb_mockup{
  position:absolute;
  left: 270px;
  top:306px;
  z-index: 9999;
}
.center{
  position:absolute;
  background-color: #000;
  width: 674px;
  height: 965px;
  left: 758px;
}
.mb_text{
  position:absolute;
  left: 175px;
  top:206px;
}
.mb_view{
  position:absolute;
  top: 804px; left: 345px;
}
.center >.mb_view {
  width: 154px; height: 48px; 
  background: url("../img/view.png") no-repeat; 
transition: 0.6s; display: block;  clear: both; float: right;}
.center >.mb_view:hover {
  width: 154px; height: 48px; 
  background: url("../img/view_hover.jpg") no-repeat;
cursor: pointer;}
.right{
  position:absolute;
  background-color: #121212;
  width: 488px;
  height: 965px;
  right:0px;
  background: url("../img/pf_right_back03.jpg")no-repeat;
}


.right ul {
  position: relative; top: 329px; left: 40px;
}
.right ul li {
  list-style: none; width: 245px;
}

.right ul>li>.link01 {
  width: 163px; height: 41px; 
  padding-left: 38px;
  background: url("../img/right_01.png") no-repeat; 
transition: 0.6s; display: block; float: right;
}
.right ul>li>.link01:hover {
  width: 163px; height: 41px; 
  background: url("../img/right_hover01.png") no-repeat; 
cursor: pointer;}

.right ul>li>.link02 {
  width: 163px; height: 41px; 
  background: url("../img/right_02.png") no-repeat; 
transition: 0.6s; display: block; clear: both; float: right;}
.right ul>li>.link02:hover {
  width: 163px; height: 41px; 
  background: url("../img/right_hover02.png") no-repeat;
cursor: pointer;}
  
.right ul>li>.link03 {
  width: 163px; height: 50px; 
  padding-left: 24px;
  background: url("../img/right_hover03.png") no-repeat; 
transition: 0.6s; display: block;  clear: both; float: right;}
.right ul>li>.link03:hover {
  width: 163px; height: 50px; 
  background: url("../img/right_hover03.png") no-repeat;
cursor: pointer;}

.right ul>li>.link04 {
  width: 163px; height: 50px; 
  padding-left: 24px;
  background: url("../img/right_04.png") no-repeat; 
transition: 0.6s; display: block;  clear: both; float: right;}
.right ul>li>.link04:hover {
  width: 163px; height: 50px; 
  background: url("../img/right_hover04.png") no-repeat;
cursor: pointer;}

.right ul>li:nth-child(1)>.link01 {
  margin-bottom: 38px;}
.right ul>li:nth-child(2)>.link02 {
  margin-bottom: 38px;}
.right ul>li:nth-child(3)>.link03 {
  margin-bottom: 35px;}
  .right ul>li:nth-child(4)>.link03 {
    margin-bottom: 35px;}